# Cloudflared
## https://one.dash.cloudflare.com/<ACCOUNT_ID>/networks/connectors/cloudflare-tunnels/cfd_tunnel/<TUNNEL_ID>
CLOUDFLARE_TUNNEL_TOKEN=TODO

# n8n
DOMAIN_NAME=nicholassaw.com
SUBDOMAIN=n8n
TZ=Australia/Sydney

# Postgres
POSTGRES_DB=n8n
POSTGRES_USER=postgres
POSTGRES_PASSWORD=TODO

# pgAdmin 4
PGADMIN_DEFAULT_EMAIL=nicholassaw2004@gmail.com
PGADMIN_DEFAULT_PASSWORD=TODO

# Crawl4AI
CRAWL4AI_API_TOKEN=TODO

# Minecraft Server
## https://docker-minecraft-server.readthedocs.io/en/latest/types-and-platforms/mod-platforms/auto-curseforge/#api-key
CF_API_KEY='TODO$11$22$33aaaaaaaaaaaaaaaaaaaaaaaaaa'

# Grafana
GF_SECURITY_ADMIN_PASSWORD=TODO
