# Cloudflared
CLOUDFLARE_TUNNEL_TOKEN=TODO

# n8n
DOMAIN_NAME=nicholassaw.com
SUBDOMAIN=n8n
TZ=Australia/Sydney

# Postgres
POSTGRES_DB=n8n
POSTGRES_USER=postgres
POSTGRES_PASSWORD=TODO

# Minecraft Server
## https://docker-minecraft-server.readthedocs.io/en/latest/types-and-platforms/mod-platforms/auto-curseforge/#api-key
CF_API_KEY='$11$22$33aaaaaaaaaaaaaaaaaaaaaaaaaa'
