# Cloudflared
## https://one.dash.cloudflare.com/<ACCOUNT_ID>/networks/connectors/cloudflare-tunnels/cfd_tunnel/<TUNNEL_ID>
CLOUDFLARE_TUNNEL_TOKEN=TODO

# n8n
DOMAIN_NAME=nicholassaw.com
SUBDOMAIN=n8n
TZ=Australia/Sydney

# Postgres
POSTGRES_DB=n8n
POSTGRES_USER=postgres
POSTGRES_PASSWORD=TODO

# pgAdmin 4
PGADMIN_DEFAULT_EMAIL=nicholassaw2004@gmail.com
PGADMIN_DEFAULT_PASSWORD=TODO

# OpenClaw
OPENCLAW_GATEWAY_TOKEN=TODO
OPENCLAW_TELEGRAM_BOT_TOKEN=TODO

# OpenCode
OPENCODE_SERVER_PASSWORD=TODO

# Minecraft Server
## https://docker-minecraft-server.readthedocs.io/en/latest/types-and-platforms/mod-platforms/auto-curseforge/#api-key
CF_API_KEY='TODO$11$22$33aaaaaaaaaaaaaaaaaaaaaaaaaa'

# Grafana
GF_SECURITY_ADMIN_PASSWORD=TODO

# SearXNG
SEARXNG_BASE_URL=http://localhost:8082/
SEARXNG_UWSGI_WORKERS=4
SEARXNG_UWSGI_THREADS=4

# Firecrawl
FIRECRAWL_POSTGRES_USER=postgres
FIRECRAWL_POSTGRES_PASSWORD=TODO
FIRECRAWL_POSTGRES_DB=postgres

# Hermes
## openssl rand -hex 32
HERMES_API_SERVER_KEY=TODO
HERMES_TELEGRAM_BOT_TOKEN=TODO
## Comma-separated Telegram user IDs allowed to chat. Find yours: @userinfobot
HERMES_TELEGRAM_ALLOWED_USERS=TODO
