API_SERVER_KEY={{ hermes_agent_generated_api_key.stdout }}
HERMES_DASHBOARD_BASIC_AUTH_USERNAME=admin
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD={{ hermes_agent_generated_dashboard_password.stdout }}
HERMES_DASHBOARD_BASIC_AUTH_SECRET={{ hermes_agent_generated_dashboard_secret.stdout }}
