apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: n8n
  namespace: default
  labels:
    app.kubernetes.io/name: n8n
    app.kubernetes.io/managed-by: ansible
spec:
  parentRefs:
    - name: {{ cluster_name }}
      namespace: default
  hostnames:
    - {{ n8n_hostname | quote }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: n8n
          namespace: n8n
          port: 5678
