apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ cluster_name }}
  namespace: argocd
spec:
  project: default
  source:
    repoURL: {{ resolved_repository_url | quote }}
    targetRevision: {{ repository_revision | quote }}
    path: kubernetes/clusters/homelab
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
